
$color-primary: #0c0c0e;
$color-light: #ffffff;
$color-text: #000000;
$color-additional: #bb945f;
$color-placeholder: #8e8e8e;

$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
